<%= labelled_form_for @qa_client do |f| %>
  <% if @qa_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qa_client.errors.count, "error") %> prohibited this qa_client from being saved:</h2>

      <ul>
      <% @qa_client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="box tabular">
  	<p>
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.number_field :phone %>
	  </p>
	  <p>
	    <%= f.number_field :qq %>
	  </p>
	</div>
	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
